[user]
    email = murtas@gmail.com
    name = Diogo F. Andrade Murteira
	signingkey = 40CD8EB3
[core]
    editor = vim
	excludesfile = ~/.gitignore_global
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
[color]
	ui = true
