[submodule "stow/config/nvim/pack/plugins/start/delimitMate"]
	path = stow/config/nvim/pack/plugins/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "stow/config/nvim/pack/plugins/opt/nerdtree"]
	path = stow/config/nvim/pack/plugins/opt/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "stow/config/nvim/pack/plugins/opt/ack.vim"]
	path = stow/config/nvim/pack/plugins/opt/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "stow/config/nvim/pack/plugins/opt/delimitMate"]
	path = stow/config/nvim/pack/plugins/opt/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
