[submodule ".vim/bundle/vim-colors-solarized"]
  path = .vim/bundle/vim-colors-solarized
  url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-slime"]
  path = .vim/bundle/vim-slime
  url = https://github.com/jpalardy/vim-slime
[submodule "/Users/murtas/.oh-my-zsh/custom/plugins/zsh-nvm"]
	path = /Users/murtas/.oh-my-zsh/custom/plugins/zsh-nvm
	url = git@github.com:lukechilds/zsh-nvm.git
[submodule ".config/nvim/pack/plugins/start/delimitMate"]
	path = .config/nvim/pack/plugins/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule ".config/nvim/pack/plugins/opt/nerdtree"]
	path = .config/nvim/pack/plugins/opt/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".config/nvim/pack/plugins/opt/ack.vim"]
	path = .config/nvim/pack/plugins/opt/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".config/nvim/pack/plugins/opt/delimitmate"]
	path = .config/nvim/pack/plugins/opt/delimitmate
	url = https://github.com/raimondi/delimitmate.git
